In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn.neighbors import KNeighborsRegressor

# Problem 1
Predict the total_tires picked up in the next seven days('2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23',
'2022-09-24', '2022-09-25', '2022-09-26') for each size code and for each distributor

In [22]:
challenge1_data = pd.read_csv("Challenge1_train_data.csv")
challenge1_data['date'] = pd.to_datetime(challenge1_data['date'])
challenge1_data = challenge1_data.sort_values(by='date')

In [23]:
# filters out dataframes into it's dc and sorts by date
oakland = challenge1_data[challenge1_data['dc_name'] == 'OAKLAND']
bakersfield = challenge1_data[challenge1_data['dc_name'] == 'BAKERSFIELD']
sacramento = challenge1_data[challenge1_data['dc_name'] == 'SACRAMENTO']
san_jose = challenge1_data[challenge1_data['dc_name'] == 'SAN JOSE']
challenge1_data
test

             date   dc_name  size_code  retail_price  total_tires  zip_code
250737 2020-09-20  SAN JOSE    2256017         0.000            0     95131
58040  2020-09-21  SAN JOSE    2256017       113.130           13     95131
57647  2020-09-22  SAN JOSE    2256017        94.340            3     95131
57736  2020-09-23  SAN JOSE    2256017       122.305            4     95131
58037  2020-09-24  SAN JOSE    2256017        75.425           13     95131
...           ...       ...        ...           ...          ...       ...
57755  2022-09-15  SAN JOSE    2256017       124.060            4     95131
57666  2022-09-16  SAN JOSE    2256017       168.955            3     95131
250888 2022-09-17  SAN JOSE    2256017         0.000            0     95131
250907 2022-09-18  SAN JOSE    2256017         0.000            0     95131
57806  2022-09-19  SAN JOSE    2256017       102.090            6     95131

[730 rows x 6 columns]

In [ ]:
## SAN JOSE ##
all_size_codes = san_jose['size_code'].unique()
final_results_san_jose = pd.DataFrame(columns = ['date', 'dc_name', 'size_code', 'total_tires'])

for i in all_size_codes:
    test = san_jose[san_jose['size_code'] == i] 
    X_train = test['date'].values.reshape(-1,1)
    Y_train = test['total_tires'].values.reshape(-1,1)
    
    X_test = np.array(['2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26']).reshape(-1,1).astype('datetime64[ns]')
    
    k = round(math.sqrt(len(X_train))/2)
    KNN_model = KNeighborsRegressor(n_neighbors=k).fit(X_train,Y_train)
    KNN_predict = KNN_model.predict(X_test) 
    KNN_predict = KNN_predict.reshape(1,-1)[0]
    
    predict_counter = 0
    for x in X_test:
        new_row = {'date': x, 'dc_name':'SAN JOSE', 'size_code':i, 'total_tires':KNN_predict[predict_counter]}
        final_results_san_jose = final_results_san_jose.append(new_row, ignore_index = True)
        predict_counter += 1

In [7]:
## Sacramento ##
all_size_codes = sacramento['size_code'].unique()
final_results_sacramento = pd.DataFrame(columns = ['date', 'dc_name', 'size_code', 'total_tires'])

for i in all_size_codes:
    test = sacramento[sacramento['size_code'] == i] 
    X_train = test['date'].values.reshape(-1,1)
    Y_train = test['total_tires'].values.reshape(-1,1)
    
    X_test = np.array(['2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26']).reshape(-1,1).astype('datetime64[ns]')
    
    k = round(math.sqrt(len(X_train))/2)
    KNN_model = KNeighborsRegressor(n_neighbors=k).fit(X_train,Y_train)
    KNN_predict = KNN_model.predict(X_test) 
    KNN_predict = KNN_predict.reshape(1,-1)[0]
    
    predict_counter = 0
    for x in X_test:
        new_row = {'date': x, 'dc_name':'SACRAMENTO', 'size_code':i, 'total_tires':KNN_predict[predict_counter]}
        final_results_sacramento = final_results_sacramento.append(new_row, ignore_index = True)
        predict_counter += 1

In [8]:
## Oakland ##
all_size_codes = oakland['size_code'].unique()
final_results_oakland = pd.DataFrame(columns = ['date', 'dc_name', 'size_code', 'total_tires'])

for i in all_size_codes:
    test = oakland[oakland['size_code'] == i] 
    X_train = test['date'].values.reshape(-1,1)
    Y_train = test['total_tires'].values.reshape(-1,1)
    
    X_test = np.array(['2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26']).reshape(-1,1).astype('datetime64[ns]')
    
    k = round(math.sqrt(len(X_train))/2)
    KNN_model = KNeighborsRegressor(n_neighbors=k).fit(X_train,Y_train)
    KNN_predict = KNN_model.predict(X_test) 
    KNN_predict = KNN_predict.reshape(1,-1)[0]
    
    predict_counter = 0
    for x in X_test:
        new_row = {'date': x, 'dc_name':'OAKLAND', 'size_code':i, 'total_tires':KNN_predict[predict_counter]}
        final_results_oakland = final_results_oakland.append(new_row, ignore_index = True)
        predict_counter += 1

In [9]:
## Bakersfield ##
all_size_codes = bakersfield['size_code'].unique()
final_results_bakersfield = pd.DataFrame(columns = ['date', 'dc_name', 'size_code', 'total_tires'])


for i in all_size_codes:
    test = bakersfield[bakersfield['size_code'] == i] 
    X_train = test['date'].values.reshape(-1,1)
    Y_train = test['total_tires'].values.reshape(-1,1)
    
    X_test = np.array(['2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26']).reshape(-1,1).astype('datetime64[ns]')
    
    k = round(math.sqrt(len(X_train))/2)
    KNN_model = KNeighborsRegressor(n_neighbors=k).fit(X_train,Y_train)
    KNN_predict = KNN_model.predict(X_test) 
    KNN_predict = KNN_predict.reshape(1,-1)[0]
    
    predict_counter = 0
    for x in X_test:
        new_row = {'date': x, 'dc_name':'BAKERSFIELD', 'size_code':i, 'total_tires':KNN_predict[predict_counter]}
        final_results_bakersfield = final_results_bakersfield.append(new_row, ignore_index = True)
        predict_counter += 1

In [10]:
# putting all the results together into one dataframe
final1 = pd.concat([final_results_oakland,final_results_sacramento], axis = 0)
final2 = pd.concat([final1, final_results_san_jose], axis = 0)
final3 = pd.concat([final2, final_results_bakersfield], axis = 0)

In [11]:
# fixes date formatting
final3['date'] = final3['date'].apply(lambda x:str(x)[2:12])

In [12]:
final3.total_tires = final3.total_tires.round()
final3['date'].unique()

array(['2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23',
       '2022-09-24', '2022-09-25', '2022-09-26'], dtype=object)

In [13]:
# submission
import requests
url = "https://scoring-app-uuzeqpiufa-ue.a.run.app/forecast/submit" 
payload = {
    "team_key": "hbiFF4Nb",
    "data": final3.to_dict(orient="records")
}
response = requests.post(url, json=payload) 
print(response.status_code, response.content)

201 b'{"message":"Success","challenge":"forecast","score":1.06419}'

In [14]:
final3

           date      dc_name size_code  total_tires
0    2022-09-20      OAKLAND   2756020         23.0
1    2022-09-21      OAKLAND   2756020         23.0
2    2022-09-22      OAKLAND   2756020         23.0
3    2022-09-23      OAKLAND   2756020         23.0
4    2022-09-24      OAKLAND   2756020         23.0
..          ...          ...       ...          ...
730  2022-09-22  BAKERSFIELD   2256016         27.0
731  2022-09-23  BAKERSFIELD   2256016         27.0
732  2022-09-24  BAKERSFIELD   2256016         27.0
733  2022-09-25  BAKERSFIELD   2256016         27.0
734  2022-09-26  BAKERSFIELD   2256016         27.0

[2730 rows x 4 columns]